<configuration>
	<appSettings>
    <add key="DbPathBRB" value="\Program Files\BRB\Database\BRB.sdf"/>
    <add key="DbPwl" value=""/>
    <add key="ServiceUrl" value="http://10.10.4.215/BRB_Sync/BRB_Sync.asmx"/>
    <add key="ServiceTimeOut" value="100000"/>   
    <add key="ShopName" value="6399"/>
    <add key="SettingsPwl" value="5744"/>
    <add key="TimeSync" value="28.01.2017 00:00:00"/>
    <add key="RemouteFile" value="BRB3.exe"/>
    <add key="Directory" value="\Download\"/>   
  </appSettings>
</configuration>
