<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ProviderName" value="ORACLE"/>
		<add key="ConnectionString" value="Data Source=MER;User ID=SM; Password=SM"/>
    <add key="PathToLogFolder" value="D:\"/>
    <add key="FolderForFile " value="C:\"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
